<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">

    <title>Chief Page</title>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <!-- styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i" rel="stylesheet" type="text/css">

    <!-- materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <!--VueJS-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>  
        html,body{
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background-color: whitesmoke;
            overflow:hidden;
        }           
        .row .col{
            padding: 1px !important;
        } 
        .collection{
            background-color: white;
        }
        textarea{
            width: 100%;
            height: 125px;
        }
        .collection-item p{
            margin-top: 0px !important;
        }
        @media only screen and (min-width: 1200px){
            #mainContainer{
                margin: 1em 3em;               
            }
        }
        .s6{
            height: calc(100vh - 75px) !important;
            overflow-y: scroll;
        } 
        [v-cloak] { display: none; }       
    </style>

    
</head>
<body>
    <div id="app" v-cloak>
        <div class="navbar">
            <!-- Dropdown Structure -->
            <ul id="dropdown_OldGroupEmails" class="dropdown-content">
                <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&source=mailto&to=chiefpage@cityoflewisville.com&su=CHIEF%20PAGE:&shva=1">Fire Chief Page via Gmail Group <br><small>(AT&T SMS issues sometimes)</small></a></li>
                <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&source=mailto&to=LPDchiefpage@cityoflewisville.com&su=CHIEF%20PAGE:&shva=1">Police Chief Page via Gmail Group <br><small>(AT&T SMS issues sometimes)</small></a></li>
                <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&source=mailto&to=LPDSWAT@cityoflewisville.com&su=SWAT%20PAGE:&shva=1">SWAT Page via Gmail Group <br><small>(AT&T SMS issues sometimes)</small></a></li>                
            </ul>
            <nav>
                <div class="nav-wrapper deep-purple white-text">
                    <a class="brand-logo">&nbsp Chief Page</a>           
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-trigger" data-target="dropdown_OldGroupEmails">Legacy Method<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a>{{username || ''}}</a></li>
                    </ul>     
                </div>
            </nav>
        </div>

        <!--Employee Login-->
        <div class="row valign-wrapper" style="height:200px; width:100%;" v-show="isEmployee ==  false">
            <div class="col s12 center-align">
                <a class="btn-large employee-login">Employee Login</a>
            </div>
        </div>

        <div id="mainContainer" v-show="isEmployee == true">            
            <div class="row">           
                <div class="col s6">
                    <h5>Active Calls</h5>
                    <hr>
                    <ul id="callsContainer" class="collection">
                        <li 
                          class="collection-item" 
                          v-for="_call in calls" 
                          :class="{'green lighten-4': selectedCall.callnumber == _call.callnumber}" 
                          v-on:click="selectedCall = _call; getConfirmations_Interval(_call.callnumber);">
                            <span class="title"><b>{{_call.complaint}}</b> &nbsp <small>{{_call.time}}</small></span>
                            <p>
                                <span>{{_call.locationaddr}}</span> <small>[{{_call.callnumber}}]</small>                                
                                <span v-show="_call.alertconfirmationsreceivedcount > 0" class="new badge" data-badge-caption="Conf">{{_call.alertconfirmationsreceivedcount}}</span>
                                <span v-show="_call.alertconfirmationssentcount > 0" class="new badge blue" data-badge-caption="Sent">{{_call.alertconfirmationssentcount}}</span>
                                <a href="#messageComposer" class="secondary-content modal-trigger" v-on:click="openEmailComposer(_call,'swat')">SWAT</a>
                                <a href="#messageComposer" class="secondary-content modal-trigger" v-on:click="openEmailComposer(_call,'police')">Police Chiefs &nbsp | &nbsp </a>
                                <a href="#messageComposer" class="secondary-content modal-trigger" v-on:click="openEmailComposer(_call,'fire')">Fire Chiefs &nbsp | &nbsp </a>
                            </p>
                        </li>
                    </ul>
                </div>

                <!--Pages Sent-->
                <div class="col s6">        
                    <h5 style="margin-left:2em; padding-left:0; width:100%;">Pages Sent 
                        <a class="btn" style="float:right; margin-right:4em;" v-on:click="getConfirmations_Interval('-1')">Past 100 Pages</a>
                    </h5>  
                    <hr>   

                    <div v-show="alerts.length == 0" class="center-align" style="padding:6em">
                        Paging Results <br> <i>Click a paged-call to see pages sent</i> 
                    </div>  

                    <!--Card-->
                    <div 
                      class="z-depth-4 white" 
                      style="margin-left:3em; padding: 0.5em; border: solid 2px gainsboro; margin-bottom: 1em;" 
                      v-for="_callnumber in alertsCallNumbers">

                        <div class="green lighten-4" style="padding:1em 10px;">
                            <b>{{alertsFiltered(_callnumber)[0].complaint}}</b> &nbsp <small>{{_callnumber}}</small> &nbsp <small>{{alertsFiltered(_callnumber)[0].time}}</small>
                        </div>

                        <table v-show="alerts.length > 0" style="margin-bottom:3em; font-size: 0.9em;">
                            <thead>
                                <tr>
                                    <th>Call#</th>
                                    <th>Page Type</th>
                                    <th>Address</th>
                                    <th>Name</th>
                                    <th>Sent Time</th>
                                    <th>Confirmed Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="_alert in alertsFiltered(_callnumber)" :class="{'grey-text': _alert.receiptconfirmation == null}">
                                    <td>{{_alert.callnumber}}</td>
                                    <td :class="pageGroupFiltered('googleGroup',_alert.pagegroup).textcolor + '-text'">{{pageGroupName(_alert.pagegroup)}}</td>
                                    <td>{{_alert.recipient}}</td>
                                    <td>{{_alert.employee}}</td>
                                    <td>{{_alert.senttime}}</td>
                                    <td>{{_alert.receiptconfirmation}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div v-show="alerts.length == 0">
                            <br>
                                <div class="chip">
                                No pages sent
                                </div>
                                <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>	

        <!-- Modal -->
        <div id="messageComposer" class="modal">
            <div class="modal-content" v-bind:class="selectedPageGroup.backgroundcolor + ' lighten-3'">
                <h4>{{selectedPageGroup.name.toUpperCase() + " PAGE"}}</h4>
                <hr>
                <table>
                    <tr>
                        <td>Subject:</td>
                        <td><input class="white" type="text" v-model="emailSubject"/></td>
                    </tr>
                    <tr>
                        <td>Message:</td>
                        <td><textarea class="white" v-model="emailBody"></textarea></td>
                    </tr>
                </table>    
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat" v-on:click="sendEmail(selectedCall);getConfirmations_Interval(selectedCall.callnumber)">SEND</a>
            </div>
        </div>
    </div>


    <!--================================================================-->
    <script>
        "use strict"

        var app = new Vue({
            el: "#app",
            data: {
                pageGroups: [
                    {
                        googleGroup: 'chiefpage', 
                        name: 'Fire', 
                        emailSubjectTemplate: 'CHIEF PAGE: [[complaint]] [[callnumber]]',
                        smsSubjectTemplate:"CHIEF PAGE",
                        backgroundcolor: "red",
                        textcolor: "red"
                    },
                    {
                        googleGroup: 'lpdchiefpage', 
                        name: 'Police',
                        emailSubjectTemplate: 'CHIEF PAGE: [[complaint]] [[callnumber]]',
                        smsSubjectTemplate:"CHIEF PAGE",
                        backgroundcolor: "blue",
                        textcolor: "blue"
                    },
                    {
                        googleGroup: 'lpdswat', 
                        name: 'SWAT',
                        emailSubjectTemplate: 'SWAT PAGE: [[complaint]] [[callnumber]]',
                        smsSubjectTemplate:"SWAT PAGE:",
                        backgroundcolor: "yellow",
                        textcolor: "amber"
                    }
                ],
                calls: [],
                isEmployee: 0,
                username: '',
                minCallNumber: 0,
                maxCallNumber: 0,
                showClosedCalls: 0,
                selectedCall: [],
                selectedPageGroup: {name:''},
                alerts: [],
                alertsCallNumbers: [],
                alertsInterval: [],
                emailSubject: '',
                emailBody: ''
            },
            methods: {
                init: function(){
                    var _this = this
                    _this.setUI()

                    var _isEmployee = _this.setIsEmployee()
                    
                    if (_isEmployee == true){
                        _this.getCalls()
                        
                        setInterval(function(){
                            _this.getCalls()
                        },5000)
                    }   
                },
                setUI: function(){   
                    //Redirect from apps/ to apps.cityoflewisville.com 
                    if (window.location.href.toLowerCase() == "http://apps/chiefpagev2/"){
                        window.location = "http://apps.cityoflewisville.com/chiefpagev2"
                    }        

                    var elems = document.querySelectorAll('.modal');
                    var instances = M.Modal.init(elems);

                    var elems2 = document.querySelectorAll('.dropdown-trigger');
                    var instances2 = M.Dropdown.init(elems2);                    
                },
                setIsEmployee: function(){
                    var _this = this
                    if (typeof window.localStorage.colEmail != "undefined"){
                        _this.isEmployee = true
                        _this.username = window.localStorage.colEmail
        
                    }else{
                        var _elems = document.querySelectorAll(".employee-login")
                        _elems.forEach(function(i){
                            i.text = "Employee Login"
                            i.href= window.location.href + '/oauthredirect'
                        })
                    }
                    return _this.isEmployee
                },
                getCalls: function(){
                    var _this = this
                    axios.post('https://query.cityoflewisville.com/v2', {
                        webservice: "AlertPagesGetCallsList",
                        auth_token: localStorage.colAuthToken
                    })
                    .then(function(_results){  
                        if (typeof _results.data[0][0] != 'undefined'){
                            _this.calls = _results.data[0]
                        }
                    })
                    .catch(function(error){ 
                        console.error(error)
                    })
                }, 
                getConfirmations: function(_callnumber){
                    var _this = this                    
                    axios.post('https://query.cityoflewisville.com/v2', {
                        webservice: "AlertPagesGetConfirmations",
                        auth_token: localStorage.colAuthToken,
                        CallNumber: _callnumber
                    })
                    .then(function(_results){                                         
                        _this.alertsCallNumbers = _this.uniqueCalls(_results.data[0])
                        _this.alerts = _results.data[0]
                    })
                    .catch(function(error){ 
                        console.error(error)
                    })
                },   
                getConfirmations_Interval: function(_callnumber){
                    var _this = this

                    clearInterval(_this.alertsInterval)
                    
                    _this.alerts = []

                    _this.getConfirmations(_callnumber)

                    _this.alertsInterval = setInterval(function(){
                        _this.getConfirmations(_callnumber)
                    },3000)
                },
                sendEmail: function(_call){
                    var _this = this
                    axios.post('https://query.cityoflewisville.com/v2', {
                        webservice: "AlertPagesSendEmail",
                        auth_token: localStorage.colAuthToken,
                        callnumber: _call.callnumber,
                        calltitle: _call.complaint,
                        subject: _this.emailSubject,
                        body: _this.emailBody,
                        sentby: _this.username,
                        pagegroup: _this.selectedPageGroup.googleGroup
                    })
                    .then(function(_results){ 
                        if (M){
                            M.toast({html: _results.data[0][0].message})
                        }else{
                            alert(_results.data[0][0].message)
                        }
                    })
                    .catch(function(_error){ 
                        if (M){
                            M.toast({html: _error})
                        }else{
                            alert(_error)
                        }
                    })
                },
                uniqueCalls: function(_calls){
                    return _calls.map(function(item){return item.callnumber})
                    .filter(function(value, index, self){return self.indexOf(value) === index})
                },                
                alertsFiltered: function(_callnumber){
                    var _this = this
                    var _alert = _this.alerts.filter(function(_alert){
                        return _alert.callnumber == _callnumber
                    })
                    if (typeof _alert[0] == 'undefined'){
                        return [{complaint:""}]
                    }else{
                        return _alert
                    }
                },
                pageGroupFiltered: function(_field,_value){
                    var _this = this
                    var _pageGroup = _this.pageGroups.filter(function(_group){
                        return _group[_field].toLowerCase() == _value.toLowerCase()
                    })[0]
                    return _pageGroup
                },
                pageGroupName: function(_googleGroup){
                    var _this = this                    
                    var _group =_this.pageGroups.filter(function(_group){
                        return _group.googleGroup.toUpperCase() == _googleGroup.toUpperCase()
                    })
                    if ( _group[0] ){
                        return _group[0].name
                    }else{
                        return 'N/A'
                    }              
                },
                openEmailComposer: function(_call,_pageGroupName){                               
                    var _this = this
                    var _pageGroup = _this.pageGroupFiltered('name',_pageGroupName)
                    var _text = _call.complaint + '\n' + 
                        'Recvd: ' +  _call.time + '\n' + 
                        _call.locationaddr + ',' + _call.locationcity + '\n' + 
                        'AVL: http://avl.cityoflewisville.com/#callnumber=' + _call.callnumber + '\n' + 
                        'Units Assigned: ' + _call.units + '\n' +
                        'Grid:'

                    //Set variables  
                    _this.emailSubject = _pageGroup.emailSubjectTemplate.replace('[[callnumber]]',_call.callnumber).replace('[[complaint]]',_call.complaint)
                    _this.selectedPageGroup = _pageGroup
                    _this.emailBody = _text
                }
            }            
        })     

        document.addEventListener('DOMContentLoaded', function(){
            app.init()
        })

    </script>
</body>
</html>